# Postgres
POSTGRES_DB=sportsstore
POSTGRES_USER=sportsstore
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Gere com: openssl rand -base64 48
JWT_SECRET=
JWT_EXPIRATION=86400000
CORS_URI=http://localhost:4200
DB_PASSWORD=${POSTGRES_PASSWORD}
# ADMIN_EMAIL=
# ADMIN_PASSWORD=
